.ThemeSlider {
  display: flex;
  align-items: center;
}
.ThemeSlider-title {
  margin-right: 10px;
}
.roll-area {
  --main-color: #191f31;
  --secondary-color: #c54539;
  --text-color: #fff;
  --bg-color: #3b4564;
  background-color: var(--main-color);
  height: 30px;
  padding: 5px;
  width: 100px;
  border-radius: 50rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.roll-input {
  width: 25.5%;
  position: relative;
}
.roll-input:nth-of-type(2) {
  text-align: center;
}
.roll-input:nth-of-type(2) > input {
  margin: 0 auto;
}
.roll-input:nth-of-type(3) {
  text-align: right;
}
.roll-input:nth-of-type(3) > input {
  margin-left: auto;
}
.roll-input > label {
  width: 100%;
  margin-bottom: 10px;
  position: absolute;
  bottom: 100%;
  left: 0;
  cursor: pointer;
  font-size: 1.1rem;
}
.roll-input > input {
  height: 100%;
  width: 100%;
  opacity: 0;
  display: block;
  cursor: pointer;
}
.roll-ball {
  --i: 5;
  pointer-events: none;
  width: 20px;
  height: 20px;
  background-color: var(--secondary-color);
  border-radius: 50rem;
  position: absolute;
  left: calc(var(--i) * 1px);
  top: 5px;
  transition: left 0.5s ease-in-out;
}
